@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap');

body {
	text-align: center;
	margin: 0px;
	overflow: hidden;
}

.invisible {
	visibility: hidden;
}


.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0px;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	position: absolute;
	left: 0px;
	top: 0px;
}

.start {
	background-color: aquamarine;
	width: min(900px, 70%);
	height: 60vh;
	border: solid white 2px;
	border-radius: 2em;
	box-shadow: 10px 10px 5px rgb(98, 98, 98);
	text-align: center;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	margin: 1em;
}

.start img {
	width: 5em;
}

.start input {
	border-radius: 1em;
	font-size: 2em;
}

.start-text {
	font-size: 1.5em;
}

.start-heading {
	font-family: 'Indie Flower', cursive;
}

.name-input {
	padding: 0.2em 0.4em;
	text-align: center;
}

.overlay-button {
	font-size: 1.5em;
	padding: 1em;
	border-radius: 2em;
	margin-right: 1em;
	width: fit-content;
	text-align: center;
	box-shadow: 6px 6px 4px rgb(98, 98, 98);
}

.overlay-button:hover,
.winner-scoreboard-button:hover {
	background-color: rgb(197, 197, 197);
}

.loser .overlay-button {
	box-shadow: 3px 3px 2px rgb(139, 135, 135);
}

.loser {
	background-color: rgba(137, 35, 35, 0.6);
	width: min(900px, 70%);
	height: 60vh;
	border: solid white 2px;
	border-radius: 2em;
	box-shadow: 10px 10px 5px rgb(61, 41, 41);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	margin: 0px;
	color: white;
}

.loser-text {
	font-size: 1.5em;
	margin-bottom: 0px;
}

.winner {
	background-color: rgba(68, 211, 99, 0.6);
	width: min(900px, 70%);
	height: 60vh;
	border: solid white 2px;
	border-radius: 2em;
	box-shadow: 10px 10px 5px rgb(98, 98, 98);
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	margin: 0px;
}

.winner-text {
	font-size: 1.5em;
}



.scoreboard {
	background-color: rgba(0, 0, 0, 0.6);
	width: min(900px, 70%);
	height: min(900px, 80%);
	border: solid white 2px;
	border-radius: 2em;
	box-shadow: 10px 10px 5px rgb(98, 98, 98);
	text-align: center;
	color: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	align-items: center;
	padding: 2.5em;
	margin: 0px;
}

.scoreboard-head {
	color: #F7FC17;
	grid-row: 1;
	font-size: 2em;
	margin: 0px 0px 10px 0px;
}

.scoreboard .overlay-button {
	grid-row: 4;
	justify-self: center;
	box-shadow: 6px 6px 4px rgb(98, 98, 98);
}

.button-container {
	display: flex;
	justify-content: space-between;
	padding: 2em 3em;
}

.winner-scoreboard-button {
	font-size: 1.5em;
	padding: 1em;
	border-radius: 2em;
	width: fit-content;
	box-shadow: 6px 6px 4px rgb(98, 98, 98);
}

.scoreboard p {
	font-size: 1.5em;
	color: #F7FC17;
	margin: 0px;
	align-self: flex-start;
}

div .list-box {
	grid-row: 2;
}

li {
	max-width: 40em;
	flex-flow: wrap;
	border: #F7FC17 solid 1px;
	border-radius: 1em;
	padding: 0.5em;
	margin: 0.5em;
}


.quit-button,
.scoreboard-button {
	font-size: 1em;
	padding: 0.3em 0.5em;
	border-radius: 1em;
	box-shadow: 6px 6px 4px rgb(98, 98, 98);
}

.scoreboard-button {
	background-color: #F7FC17;

}

.scoreboard-button:hover,
.scoreboard-button:focus {
	background-color: #dbdf00;
}

.quit-button {
	background-color: rgba(185, 93, 93, 0.6);

}

.quit-button:hover,
.quit-button:focus {
	background-color: rgba(137, 35, 35, 0.6);
}



.hangman-figure {
	max-height: 457px;
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 0px;
	position: relative;
	bottom: 14em;
	z-index: -1;

}

.letter-div-container {
	display: flex;
	gap: 1em;
	justify-content: center;
	position: relative;
	flex-flow: row wrap;
	bottom: 12em;

}

.letter-div-container>div,
#letter-input {
	font-size: 1.3em;
	font-family: 'Gloria Hallelujah', cursive;
	padding: 0.5em;
	width: 1em;
	text-align: center;
	margin-top: 1em;
	border-bottom: 2px solid black;
}

.letter-div-container>div {
	min-height: 1.3em;
	padding: 0 0.3em;
}

#letter-input {
	padding: 0.5em;
	border-radius: 0.3em;
	border: 2px solid black;
	text-transform: uppercase;
	position: relative;
	bottom: 9.5em;

}

.wrong-letter-container {
	min-height: 1.7em;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 11em;
}

.wrong {
	font-size: 1.5em;
	margin: 0 1em;
	text-decoration: line-through;
	font-family: 'Gloria Hallelujah', cursive;
}

.wrong-guess-left-container {
	position: relative;
	width: 4em;
	top: 6em;
	left: 2em;
	font-size: 1.5em;
	border: solid 3px #36c579;
	border-radius: 2em;
	padding: 1em;
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0px;

}

h3 {
	margin: 0px;
}

@media screen and (max-width: 1000px) {
	.wrong-guess-left-container {
		position: sticky;
		width: 4em;
		top: 16em;
		left: 40em;
		font-size: 1em;
		margin-right: 3em;
	}

	.hangman-figure {
		bottom: 7em;
	}

	#letter-input {
		bottom: 5em;

	}

	.wrong-letter-container {
		bottom: 5em;
	}

	.letter-div-container {
		bottom: 5em;

	}
}



@media screen and (max-width: 800px) {

	.quit-button,
	.scoreboard-button {
		font-size: 1em;
	}

	.letter-div-container>div,
	#letter-input {
		font-size: 1em;
	}

	.letter-div-container {
		display: flex;
		gap: 0.2em;
		justify-content: center;
		position: relative;
		flex-flow: wrap;
	}

	.overlay p {
		font-size: 1em;
	}

	.wrong {
		font-size: 1.2em;
		margin: 0 0.3em;
	}

	.letter-div-container>div,
	#letter-input {
		margin-top: 0.5em;
	}

	.overlay-button {
		font-size: 1em;
		margin: 0.5em;
	}

	.winner-scoreboard-button {
		font-size: 1em;
	}

}

@media screen and (max-width: 550px) {

	.scoreboard p {
		font-size: 1em;
		color: #F7FC17;
		margin: 0px;
		grid-column: 1;
	}



	.scoreboard-head {
		font-size: 1.5em;
	}

	.scoreboard {
		min-height: 60vh;
	}

	h2.style {
		font-size: 1em;
		padding-left: 0.5em;
	}



	/* .scoreboard-box-2 {
		grid-row: 3;
		grid-column: 1;
	}

	.scoreboard-box-3 {
		grid-row: 4;
		grid-column: 1;
	} */



}

ul>li {
	display: flex;
	justify-content: space-between;
}

#checkbox,
label {
	grid-row: 1;
	grid-column: 3;
}