input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 32px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
	left: -4em;
}

@media screen and (max-width: 600px) {
	label {
		left: -2em;
		width: 60px;
		height: 30px;
	}
}

label:after {
	content: '';
	position: absolute;
	top: 0.5px;
	left: 1px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;

}

input:checked+label {
	background: #c6c843;
}


input:checked+label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

label:active:after {
	width: 40px;
}